@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);

$padding: 12px;

$pink: #FF0047;
$blue: #79D2AA;
$green: #9AE094;
$yellow: #F8FF94;

$white: #F8F8F8;
$black: #232323;
$gray: #484848;
$accent: $pink;

@import "hljs";

html {
  color: $black;
  background: $white;
}

body {
  overflow-y: scroll;
  font-family: 'Merriweather', serif;
}

div#container, div#main, aside {
  padding: $padding;
}

aside {

  ul, ol {
    margin-top: 4px;
    padding-left: 1em;
    list-style-type: none;
  }

  h2 {
    margin-bottom: 0px;
  }

  div#side-footer {
    margin-top: 3em;
    color: $gray;
  }
}

div.article {
  padding-top: 2em;
  p {
    max-width: 720px;
    margin-left: 1em;
  }
}

div.paginate {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  text-align: center;
}

h1.title {

  display: inline;

  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;

  a {
    font-weight: 400;
    color: $accent;
    emph {
      color: $black;
      font-weight: 700;
    }
  }

  &.site-title {
    font-size: 2.8em;
    margin-bottom: 0px;
  }
}

span.date, span.tagline {
  font-style: italic;
  font-family: 'Merriweather', serif;
  color: $gray;
}

a {
  text-decoration: none;
  color: $accent;
}

code.hljs {
  font-family: 'Source Code Pro';
  font-weight: 500;
  max-width: 700px;
  margin-left: 2em;
  border-radius: 4px;
}

@media (max-width: 1159px) {
  div.article span.date, span.tagline {
    clear: both;
    display: block;
  }

  h1.title.site-title {
    font-size: 2.4em;
  }
}

@media (min-width: 1160px) {

  div#container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }

  div#main {
    width: 904px - 2 * $padding;
    float: left;
  }

  aside {
    width: 256px - 2 * $padding;
    float: right;
    height: 100%;
  }
}
